.fa-youtube-play{

    color: red;
}
.fa-telegram{
    color: rgb(29, 141, 201);
}
.fa-phone{
    color: green;
}
.fa-instagram{
    /* color: rgb(253, 29, 29); */
    color: rgb(245, 96, 64);
    
    
    
}
.fa-facebook{
    color: rgb(42, 155, 216);
}
#myVideo {
    position: fixed;
    
    
    bottom: 0;

    
    min-width: 100%; 
    min-height: 100%;
}
.header{
    max-height:100%;
  /* position:relative; */
  overflow-y:auto;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;

}
.header__title{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    /* font-family: cursive; */
    font-family: Arial, Helvetica, sans-serif;
}
.haeder__text{
    text-align: center;
    font-size: 35px;
 /* font-family: cursive; */
    padding-top: 10px;
   
    
}
.haeder__text-1{
    text-align: center;
    font-size: 30px;
    /* font-family: cursive; */
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn__info-link{
    padding: 10px 30px;
    border-radius: 15px;
    color: whitesmoke;
    /* font-family: cursive; */
    margin: 10px 0;
    font-weight: bold;
    font-size: 25px;
    background: rgba(83, 77, 77, 0.533);
    width: 830px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    transition: 500ms;
}

   
        /* @keyframes glowing {
            0% { background-color: #0111268c; box-shadow: 0 0 5px #fafafa }
            50% { background-color: #00162c69; box-shadow: 0 0 20px #c2bcbc; }
            100% { background-color: #021f3b7a; box-shadow: 0 0 5px #ffffff; }
            } */
            @keyframes glowing {
                0% { background-color: #27282a3a; box-shadow: 0 0 5px #efe1e1 }
                50% { background-color: #2d2f3047; box-shadow: 0 0 20px #e8dfdf; }
                100% { background-color: #2c2d2e46; box-shadow: 0 0 5px #d2c9c9; }
                }
        .btn__info-link {
        animation: glowing 1800ms infinite ;
        
        }
.a4{
    padding: 7px;
    font-size: 30px;
    align-items: center;
}
.btn__info{
    max-width: 100%;
}
.btn__info-link:hover{
    transform: scale(1.2);
}

body {
    margin: 0;
    /* font-family: Arial; */
    font-size: 17px;
}
.header{
    position: fixed;
    top: 0;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.btn__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

}
.reklama{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.reklama-title{
    padding-top: 7px;
    text-align: center;
    font-size: 30px;
}
.round{
    border-radius: 100px;
    align-items: center;
    
   width:  180px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   max-width: 100%;
}
@media (max-width: 420px){
.reklama-title{
    font-size: 27px;
}
}
@media (max-width: 407px){
    .header__title{
        font-size: 35px;
    }
    .a4{
        font-size: 25px;
    }
    }
    @media (max-width: 375px){
        .round{
            width: 160px;
        }
        .haeder__text-1{
            font-size: 28px;
        }
        .haeder__text{
            font-size: 25px;
        }
        .reklama-title{
            font-size: 25px;
        }
        .btn__info-link{
            font-size: 23px;
        }
        .a4{
            font-size: 25px;
        }
        }
        @media (max-width: 363px){
            .header__title{
                font-size: 32px;
            }
            .haeder__text-1{
                font-size: 26px;
            }
            .haeder__text{
                font-size: 23px;
            }
            .reklama-title{
                font-size: 23px;
            }
            .btn__info-link{
                font-size: 21px;
            }
        }
        @media (max-width: 334px){
            .header__title{
                font-size: 30px;
            }
            .haeder__text-1{
                font-size: 24px;
            }
            .haeder__text{
                font-size: 22px;
            }
            .reklama-title{
                font-size: 21px;
            }
            .btn__info-link{
                font-size: 20px;
            }

        }